@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --theme: #322e32;
  --blue: #bbee02;
  --white: #fff;
  --grey: #d7d7d7;
  --purple-grey: #8f8297;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme);
  color: var(--white);
}

input {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.input-wrapper {
  width: 90vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 4rem;
}

.input-wrapper h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
}

.search-and-dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
}

.dropdown-wrapper {
  width: 100%;
  max-width: 200px;
  margin-bottom: 1rem;
}

.dropdown-wrapper.center {
  width: 100%;
  max-width: 600px;
}

.custom-input {
  background-color: var(--theme);
  color: var(--white);
  border: 2px solid var(--purple-grey);
  border-radius: 0.35rem;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  font-weight: 500;
}

.custom-input:focus {
  outline: none;
  border-color: var(--white);
}

.custom-input::placeholder {
  color: var(--purple-grey);
}

.label-input {
  color: var(--purple-grey);
}

.active {
  border-color: var(--white);
}

.dropdown-select {
  background-color: var(--theme);
  color: var(--white);
  border: 2px solid var(--purple-grey);
  border-radius: 0.35rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}

.dropdown-select:focus {
  outline: none;
  border-color: var(--white);
}

.podcasts-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
}

.podcast-title-heading {
  text-align: left !important;
  width: 100%;
}

.banner-wrapper {
  background: linear-gradient(
    177.7deg,
    rgba(58, 129, 191, 0.3) 1.63%,
    rgba(65, 48, 90, 0.009) 148.18%
  );
  border-radius: 1rem;
  padding: 0.5rem;
  height: 300px;
  width: 100%;
}

.banner-wrapper img {
  width: 100%;
  height: 300px !important;
  object-fit: cover;
  border-radius: 1rem;
}

.podcast-description {
  color: var(--purple-grey);
  text-align: left;
  width: 100%;
}

.custom-audio-player {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(14, 2, 21, 0.5);
  z-index: 1000;
}

.display-image-player {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin: 0rem 1rem;
}

.duration-range {
  filter: hue-rotate(25deg);
  width: 100%;
}

.duration-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 50%;
}

.volume-range {
  filter: hue-rotate(25deg);
  width: 25%;
}

.audio-btn {
  cursor: pointer;
}

@media (max-width: 768px) {
  .duration-flex {
    width: 100%;
  }

  .volume-range {
    width: 50%;
  }
}
