.podcast-card {
  width: 250px;
  height: auto; /* Adjust height based on your design */
  background: linear-gradient(
    177.7deg,
    rgba(58, 129, 191, 0.3) 1.63%,
    rgba(65, 48, 90, 0.009) 148.18%
  );
  border-radius: 1rem;
  padding: 0.5rem;
  opacity: 0.7;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  text-decoration: none; /* Remove underline from Link */
  color: inherit; /* Inherit text color from parent */
}

.podcast-card:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.display-image-podcast {
  width: 100%;
  height: 230px; /* Adjust height based on your design */
  object-fit:fill;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.podcast-details {
  padding: 0.5rem;
}

.title-and-season {
  display: flex;
  justify-content: space-between;
}

.title-podcast {
  color: var(--white); /* Adjust text color based on your design */
  font-size: 1.2rem; /* Adjust font size based on your design */
  margin: 0.5rem 0;
}

.seasons {
  font-size: 0.9rem; /* Adjust font size based on your design */
  color: var(--light-gray); /* Adjust text color based on your design */
}

.genres {
  margin-top: 0.5rem;
}

.genres p {
  font-size: 0.9rem; /* Adjust font size based on your design */
  color: var(--light-gray); /* Adjust text color based on your design */
}
