/* /src/components/common/PodcastCard/styles.css */

.podcast-card-link {
  text-decoration: none;
  color: inherit;
}

.podcast-card {
  width: 250px;
  height: auto;
  background: linear-gradient(
    177.7deg,
    rgba(58, 129, 191, 0.3) 1.63%,
    rgba(65, 48, 90, 0.009) 148.18%
  );
  border-radius: 1rem;
  padding: 0.5rem;
  opacity: 0.7;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
}

.podcast-card:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.display-image-podcast {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.podcast-details {
  padding: 0.5rem;
}

.title-podcast {
  color: var(--white);
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.genres {
  margin-top: 0.5rem;
}

.genres p {
  font-size: 0.9rem;
  color: var(--light-gray);
}

/* Carousel styles */
.slick-slider {
  margin-bottom: 10px;
}

.slick-slide {
  padding: 0 0px;
}

.slick-slide img {
  width: 60%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slick-prev,
.slick-next {
  font-size: 20px;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.slick-prev {
  left: 4px;
}

.slick-next {
  right: 2px;
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 0.8;
}