.input-wrapper {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 4rem;
  }
  
  .input-wrapper h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 2rem;
    color: var(--white);
  }
  
  .search-and-dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-input {
    width: 100%;
    max-width: 600px;
    margin-bottom: 1rem;
  }
  
  .search-input input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 2px solid var(--purple-grey);
    border-radius: 0.35rem;
    background-color: var(--theme);
    color: var(--white);
  }
  
  .dropdown-wrapper {
    width: 100%;
    max-width: 200px;
    margin-bottom: 1rem;
  }
  
  .dropdown-wrapper.center {
    width: 100%;
    max-width: 600px;
  }
  
  .label-input {
    color: var(--purple-grey);
  }
  
  .dropdown-select {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 2px solid var(--purple-grey);
    border-radius: 0.35rem;
    background-color: var(--theme);
    color: var(--white);
  }
  
  /* Add more styles as per your component structure */
  
  @media (max-width: 768px) {
    /* Media queries for responsive design */
  }
  