.input-wrapper {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 4rem;
}

.input-wrapper h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
  color: var(--white);
}

.search-and-dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
}

.search-input input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid var(--purple-grey);
  border-radius: 0.35rem;
  background-color: var(--theme);
  color: var(--white);
}

.sort-dropdown-wrapper {
  width: 12%;
  max-width: 600px; 
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.sort-dropdown-wrapper select {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid var(--purple-grey);
  border-radius: 0.35rem;
  background-color: var(--theme);
  color: var(--white);
}

.sort-button {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  background-color: var(--purple-grey);
  color: var(--white);
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
}

.sort-button:not(:last-child) {
  margin-right: 1rem;
}

.label-input {
  color: var(--purple-grey);
}

.filter-and-sort {
  display: flex;
  justify-content:space-between; 
  margin-left: 2rem;
 padding-bottom: 2rem;
  align-items: center;
  width: 40%;
  max-width: 600px;
}

.update-dropdown-wrapper,
.genre-dropdown-wrapper {
  width: calc(70% - 1rem); 
}

@media (max-width: 768px) {
  .search-and-dropdown {
    align-items: flex-start; 
  }

  .filter-and-sort {
    flex-direction: column; 
    
  }
  
  .sort-dropdown-wrapper{
    width: 9rem;
    margin-top: 1rem;
  }
  

  .update-dropdown-wrapper,
  .genre-dropdown-wrapper {
    width: 100%; 
    margin-bottom: 1rem;
  }
}

/*ShowDeatil */
/* ShowDetails */
.show-details-page {
  padding: 20px;
}

.selected-season-image {
  max-width: 100%;
  height: auto;
  margin-top: 16px;
}

/* SeasonSelector */
.season-selector {
  margin-top: 16px;
}

.season-selector h4 {
  margin-bottom: 8px;
}

.season-selector select {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  border: 2px solid var(--purple-grey);
  border-radius: 0.35rem;
  background-color: var(--theme);
  color: var(--white);
}

/* EpisodeList */
.episode-list {
  margin-top: 16px;
}

.episode-list ul {
  list-style-type:circle;
  padding: 0;
} 

.episode-list ul li {
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid #907c7c;
}

.episode-list ul li:hover {
  background-color: #696363;
}

